// Create Row

@mixin row($width) {
  float: left;
  clear: both;
  width: $width;
}

// Adjacent siblings Mixin

@mixin doubly($margin: 1em) {
	& + & {
		margin-left: $margin;
		@content;
	}
}

// Border Radius Mixin

@mixin border-radius($primary-border-radius) {
	-moz-border-radius: $primary-border-radius;
	-webkit-border-radius: $primary-border-radius;
	border-radius: $primary-border-radius;
}