//=============================================================
// Variables   --   Commonly Used Values                          	
//=============================================================

// Set Font Weights
// $font-weight--thin
// $font-weight--light
// $font-weight--medium
// $font-weight--bold

// Set Base Font
// $base-font-url
// $font-family--primary
// $font-family--secondary

// Set Grid Variables
$column-width: 65px;
$gutter-width: 20px;
$column-count: 12;
$column-max-width: 1200px;

// Set Border Radius Values
$primary-border-radius: 2.5px;