{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
<h1>404</h1>

<img src="../leaderboard/static/img/oldSock.jpg" width="120">
<h4>Oh my gosh!</h4>
<h4>You FOUND IT!!!!!</h4>
<br>
<p>I've been looking for that sock since I did my</p>
<p>laundry in the winter of 2002.</p>
<br>
<p>Sadly, even though you found my sock I seem to have</p>
<p>also misplaced the page for which you were looking.</p>

<p><a href="{{ url_for('index') }}" title="Return Home">Return Home</a> to try again.</p>
{% endblock %}